body {
    margin: 0;
    overflow: hidden;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

#warningScreen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.warning {
    color: #ff2600;
    font-size: 26px;
    font-weight: bold;
}

#clickme, #continueButton, #restartButton, #menuButton {
    margin-top: 30px;
    padding: 10px 20px;
    background-color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-size: 18px;
    transition: background-color 0.3s;
}

#clickme:hover, #continueButton:hover, #restartButton:hover, #menuButton:hover {
    background-color: #555;
}

#clickme {
    display: inline-block;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.menu button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #333;
    border: none;
    border-radius: 5px;
    color: white;
    transition: background-color 0.3s;
}

.menu button:hover {
    background-color: #555;
}

#backbutton {
    margin: 30px;
}

.settings-item label {
    display: block;
    margin-bottom: 5px;
    font-size: 18px;
    color: #333;
}

.settings-item input[type="range"] {
    width: 100%;
}

.settings-item select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.settings-item select:focus {
    border-color: #555;
    outline: none;
}

.gameOverText {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: rgb(0, 0, 0);
}

.score, .best-score {
    position: absolute;
    font-size: 24px;
    color: black;
}

.score {
    top: 10px;
    left: 10px;
}

.best-score {
    top: 50px;
    left: 10px;
}

canvas {
    display: block;
    margin: 0 auto;
    background-color: #87ceeb;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
